<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>ngoy - {{ 'TODO_TITLE' | translate }}</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	 crossorigin="anonymous">

	<style>
		.qbert {
			color: red;
		}
	</style>
</head>

<body>

	<div class="container">
		<h1>{{ 'TODO_TITLE' | translate }}</h1>

		<div>
			<span class="message" [class.deleted]="deletedTodo != null">Todo <span>{{deletedTodo}}</span> has been deleted.</span>
			<span class="message" [class.text-required]="textRequired">Text required.</span>
		</div>

		<form ngoyFormPost="addTodo">
			<div class="form-group">
				<label>Text</label>
				<input autofocus autocomplete="off" type="text" class="todo-text form-control" name="text">
			</div>
			<button type="submit" class="btn btn-primary">{{ 'TODO_ADD' | translate }}</button>
		</form>

		<div class="todos">
			<todo *ngFor="let it of todos" [todo]="it" deleteAction="delete"></todo>
		</div>

	</div>

</body>

</html>