form {
	margin-top: 20px;
}

.todo-text {
	width: 20rem;
}

.messages span {
	visibility: hidden;
}

.messages span.deleted {
	visibility: visible;
	color: gray;
}

.messages span.text-required {
	visibility: visible;
	float: left;
	color: red;
}