<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>ngoy - {{appName}}</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	 crossorigin="anonymous">

	<style>
		.qbert {
			color: red;
		}
	</style>
</head>

<body>

	<div class="container">
		<h1>{{appName}}</h1>

		<div class="messages">
			<span [class.deleted]="deleted">Todo has been deleted.</span>
			<span [class.text-required]="textRequired">Text required.</span>
		</div>

		<form ngoyFormPost="addTodo">
			<div class="form-group">
				<label>Task</label>
				<input autofocus autocomplete="off" type="text" class="todo-text form-control" name="text">
			</div>
			<button type="submit" class="btn btn-primary">Add</button>
		</form>

		<todo *ngFor="let it of todos" [todo]="it" action="delete"></todo>

	</div>

</body>

</html>