form {
	margin-top: 20px;
}

.todos {
	display: grid;
	grid-template-columns: auto auto auto;
}

.todo-text {
	width: 20rem;
}

.message {
	visibility: hidden;
}

.message.deleted {
	visibility: visible;
	color: gray;
}

.message.deleted span {
	font-weight: bold;
}

.message.text-required {
	visibility: visible;
	float: left;
	color: red;
}